<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121132222404-is98fn90r7rsqgd59s3c8snehlj3rg5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121132222404-is98fn90r7rsqgd59s3c8snehlj3rg5o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>121132222404-tdugpjfo3fr1rhm85qohkal6o6cjmvf4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDsZMz4klE7uxPeKdSFmotSL64WBXobSCk</string>
	<key>GCM_SENDER_ID</key>
	<string>121132222404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ysmeta.upfinai</string>
	<key>PROJECT_ID</key>
	<string>upfin-6524b</string>
	<key>STORAGE_BUCKET</key>
	<string>upfin-6524b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:121132222404:ios:ca637a6877d4fc834e0691</string>
</dict>
</plist>
